<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./static/style.css">
    <link href="./static/lock.ico" rel="icon">
    <title>aex-Z Password-Checker</title>
</head>
<body>
    <header>
        <div class="navbar">
            <a href="./index.html">Home</a>
            <a>Coming soon</a>
            <div class="dropdown">
              <button class="dropbtn">My portfo
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="#">Coming soon</a>
              </div>
            </div>
            <div class="logo"><a>aex-Z <img class="img" src="./static/lock.ico" alt=""></a></div>
          </div>
        <h1> Here is your Result!</h1> 
        <div class="ans-box" align="center"><h2>Thank you, for using aex-Z Password-Checker.🔐</h2></div>
        <div>
            <div class="contectsection" align="center"> Thank you! I will get in touch with you, shortly! </div>
        <footer class="bottomtext">
          🔐aex-Z Password Checker
        </footer>
        </div>
    </header>
</body>
</html>